@model PumaCoinCatalog.Web.Models.Checklist.ChecklistInfoModel

<div class="coins-in-collection">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="@Model.TotalCoinsCollected" aria-valuemin="0" aria-valuemax="@Model.TotalCoinsInChecklist"
             style="width: @Model.TotalCoinsPercentage%;"></div>
    </div>
    <span class="progress-label">Total Coins in Collection: @Model.TotalCoinsCollected / @Model.TotalCoinsInChecklist </span>
</div>
<div class="value-totals">
    <div class="row face-value-total">
        <div class="col-md-5">Face Value Total:</div>
        <div class="col-md-3"><span>$@Model.FaceValueTotal</span></div>
    </div>
    <div class="row bullion-value-total">
        <div class="col-md-5">Bullion Value Total:</div>
        <div class="col-md-3"><span>$@Model.BullionValueTotal</span></div>
    </div>
    <div class="row estimated-value-total">
        <div class="col-md-5">Estimated Value Total:</div>
        <div class="col-md-3"><span>$@Model.EstimatedValueTotal</span></div>
    </div>
    <div class="row collection-value-total">
        <div class="col-md-5">Collection Value Total:</div>
        <div class="col-md-3"><span>$@Model.CollectionValueTotal</span></div>
    </div>
</div>
