@model PumaCoinCatalog.Web.Models.Checklist.ChecklistInfoModel

<div class="coins-in-collection">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="@Model.TotalCoinsCollected" aria-valuemin="0" aria-valuemax="@Model.TotalCoinsInChecklist"
             style="width: @Model.TotalCoinsPercentage%;"></div>
    </div>
    <span class="progress-label">Total Coins in Collection: @Model.TotalCoinsCollected / @Model.TotalCoinsInChecklist </span>
</div>
<br />
<div class="value-totals">
    <div class="row face-value-coin">
        <div class="col-md-5">Coin Face Value:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.CoinFaceValue)</span></div>
    </div>
    <div class="row face-value-total">
        <div class="col-md-5">Face Value Total:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.FaceValueTotal)</span></div>
    </div>
    <br />
    <div class="row bullion-value-coin">
        <div class="col-md-5">Coin Bullion Value:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.CoinBullionValue)</span></div>
    </div>
    <div class="row bullion-value-total">
        <div class="col-md-5">Bullion Value Total:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.BullionValueTotal)</span></div>
    </div>
    <br />
    <div class="row estimated-value-total">
        <div class="col-md-5">Estimated Value Total:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.EstimatedValueTotal)</span></div>
    </div>
    <br />
    <div class="row collection-value-total">
        <div class="col-md-5">Collection Value Total:</div>
        <div class="col-md-3"><span>@string.Format("{0:c}", Model.CollectionValueTotal)</span></div>
    </div>
</div>

