@model PumaCoinCatalog.Web.Models.Checklist.ChecklistCoinModel

<select class="form-control ddl-grade">
    <option @(Model.AdamGrade == 1 ? "selected='selected'" : string.Empty) value="1">Poor</option>
    <option @(Model.AdamGrade == 2 ? "selected='selected'" : string.Empty) value="2">Fair</option>
    <option @(Model.AdamGrade == 4 ? "selected='selected'" : string.Empty) value="4">Good</option>
    <option @(Model.AdamGrade == 8 ? "selected='selected'" : string.Empty) value="8">Very Good</option>
    <option @(Model.AdamGrade == 12 ? "selected='selected'" : string.Empty) value="12">Fine</option>
    <option @(Model.AdamGrade == 20 ? "selected='selected'" : string.Empty) value="20">Very Fine</option>
    <option @(Model.AdamGrade == 40 ? "selected='selected'" : string.Empty) value="40">Ex. Fine</option>
    <option @(Model.AdamGrade == 50 ? "selected='selected'" : string.Empty) value="50">AU</option>
    <option @(Model.AdamGrade == 58 ? "selected='selected'" : string.Empty) value="58">Uncirculated</option>
    <option @(Model.AdamGrade == 60 ? "selected='selected'" : string.Empty) value="60">MS+</option>
</select>
