@model PumaCoinCatalog.Web.Models.Checklist.ChecklistModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        Checklists
        <span>&#x25BA;</span>
        <span id="checklist-title">@Model.Title</span>
        <span style="font-size: 18px;">@Model.CoinTypeDisplay</span>
    </div>
}

<style type="text/css">
    
</style>

<div class="checklist-details"> 
    <input type="hidden" id="hidChecklistId" value="@Model.Id" />
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/jpg;base64,@Model.Base64Image" alt="@Model.Title" class="coin-image" />
        </div>
        <div class="col-md-4">
            <div id="checklist-info">
                @Html.Partial("_checklistInfo", Model.ChecklistInfoModel)
            </div>
        </div>      
        <div class="col-md-2">
            <div class="checklist-actions">
                <button id="btnRefreshTotals" type="button" class="btn btn-primary btn-lg btn-block">Refresh Totals</button>
                <button id="btnUpdateBullionValue" type="button" class="btn btn-primary btn-lg btn-block">Update Bullion Value</button>
                @*<button id="btnExportChecklist" type="button" class="btn btn-primary btn-lg btn-block">Export</button>*@
                @Html.ActionLink("Export", "ExportChecklist", "Checklist", new { checklistId = Model.Id }, new { @class = "btn btn-primary btn-lg btn-block" })
                <button id="btnDeleteChecklist" type="button" class="btn btn-primary btn-lg btn-block">Delete</button>
                <button id="btnRenameChecklist" type="button" class="btn btn-primary btn-lg btn-block">Rename</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">                
        <div class="col-md-12">
            <div class="table-responsive">
                @Html.Partial("_checklistCoinTable", Model.ChecklistCoins)
            </div>
        </div>
    </div>
</div>

@section scripts {

<script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/Checklist/AllChecklists');

            hideExcludedCoins();

            //
            // refresh the totals section
            //
            function refreshTotals() {
                var checklistId = $("#hidChecklistId").val();

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/GetChecklistTotals?checklistId=' + checklistId,
                    success: function (result) {
                        $("#checklist-info").html(result);
                    }
                });
            }

            //
            // refresh the totals section
            //
            $("#btnRefreshTotals").on("click", function () {
                refreshTotals();
            });

            //
            // get the checklist coin id for a cell in a row
            //
            function getChecklistCoinId(elem) {
                var row = $(elem).closest(".checklist-coin-row");
                var trCoinId = $(row).children(".checklist-coin-id");
                var checklistCoinId = $(trCoinId).text();
                return checklistCoinId;
            }

            function addCoinToChecklist(elem) {
                var row = $(elem).closest(".checklist-coin-row");
                var checkbox = $(row).find(".in-collection-checkbox");
                $(checkbox).prop("checked", true);
            }

            //
            // add or remove coin from checklist
            //
            $(".in-collection-checkbox").change(function () {
                var thisthis = this;
                var checklistCoinId = getChecklistCoinId(this);

                if (this.checked) {
                    // set flag to true
                    $.ajax({
                        type: 'POST',
                        url: '/Checklist/UpdateChecklistCoinAddToChecklist?checklistCoinId=' + checklistCoinId,
                        success: function (result) {
                            //console.log('coin add successfully');
                        }
                    });
                } else {
                    var result = confirm("You sure you want to remove it from your collection?");
                    if (result == true) {
                        // set flag to false
                        $.ajax({
                            type: 'POST',
                            url: '/Checklist/UpdateChecklistCoinRemoveFromChecklist?checklistCoinId=' + checklistCoinId,
                            success: function (result) {
                                //console.log('coin removed successfully');

                                // reset grade and est.value
                                var elemGrade = $(thisthis).parent().parent().next().children().first();
                                $(elemGrade)[0].selectedIndex = 0;

                                var elemEstValue = $(thisthis).parent().parent().next().next().children().first();
                                $(elemEstValue).val(0);
                            }
                        });
                    }
                    else {
                        $(this).prop("checked", true);
                    }
                }
            });

            //
            // toggle exclude of coin in checklist
            //
            $(".should-exclude-checkbox").change(function () {
                var thisthis = this;
                var checklistCoinId = getChecklistCoinId(this);

                if (this.checked) {
                    // set flag to true
                    $.ajax({
                        type: 'POST',
                        url: '/Checklist/UpdateChecklistCoinExcludeFromChecklist?checklistCoinId=' + checklistCoinId,
                        success: function (result) {
                            // coin excluded
                        }                        
                    });
                } else {                    
                    // set flag to false
                    $.ajax({
                        type: 'POST',
                        url: '/Checklist/UpdateChecklistCoinIncludeInChecklist?checklistCoinId=' + checklistCoinId,
                        success: function (result) {
                            // coin included
                        }
                    });                    
                }
            });

            //
            // updated grade
            //
            $(".ddl-grade").change(function () {
                var thisthis = this;
                var value = $(this).val();
                var checklistCoinId = getChecklistCoinId(this);

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/UpdateChecklistCoinGrade?checklistCoinId=' + checklistCoinId + '&value=' + value,
                    success: function (result) {
                        //console.log('grade updated successfully');
                        addCoinToChecklist(thisthis);
                    }
                });
            });

            $("input[type='text']").on("click", function () {
                $(this).select();
            });

            //
            // update estimated value
            //
            $(".estimated-value-textbox").blur(function () {
                var thisthis = this;
                var value = $(this).val();

                if (value == '' || value == ' ') {
                    value = 0;
                }

                if (!isNumeric(value)) {
                    console.log('bad number');
                    $(this).val('');
                    return;
                }

                var checklistCoinId = getChecklistCoinId(this);

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/UpdateChecklistCoinEstimatedValue?checklistCoinId=' + checklistCoinId + '&value=' + value,
                    success: function (result) {
                        //console.log('estimated value updated successfully');
                        addCoinToChecklist(thisthis);
                    }
                });
            });

            //
            // update bullion value
            //
            $("#btnUpdateBullionValue").on("click", function () {
                var checklistId = $("#hidChecklistId").val();

                var value = prompt("Enter the Bullion Value:", "0");
                if (value == '' || value == ' ') value = 0;
                if (!isNumeric(value)) {
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/UpdateCoinTypeBullionValue?checklistId=' + checklistId + '&value=' + value,
                    success: function (result) {
                        refreshTotals();
                    }
                });
            });

            //
            // delete a checklist
            //
            $("#btnDeleteChecklist").on("click", function () {
                var checklistId = $("#hidChecklistId").val();

                var result = confirm("Are you sure you want to delete this checklist?");
                if (!result) return;

                var okResult = confirm("Press 'Ok' to delete the checklist permanently.");
                if (!okResult) return;

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/DeleteChecklist?checklistId=' + checklistId,
                    success: function (result) {
                        window.location = "@Url.Action("AllChecklists", "Checklist")";
                    }
                });
            });

            //
            // rename a checklist
            //
            $("#btnRenameChecklist").on("click", function () {
                var checklistId = $("#hidChecklistId").val();

                var newTitle = prompt("Enter a new Checklist Title:");
                if (!newTitle) return;

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/RenameChecklist?checklistId=' + checklistId + "&checklistTitle=" + newTitle,
                    success: function (result) {
                        $("#checklist-title").text(newTitle);
                    }
                });
            });

            //
            // filter table - show all
            //
            $("#btnShowAll").on("click", function () {
                var rows = $("tr.checklist-coin-row");
                rows.each(function (index) {
                    $(this).show();
                });
            });

            //
            // filter table - show collected coins
            //
            $("#btnShowCollected").on("click", function () {
                var rows = $("tr.checklist-coin-row");
                rows.each(function (index) {
                    var checkbox = $(this).find("input.in-collection-checkbox");
                    var isInCollection = $(checkbox).prop("checked");
                    if (isInCollection) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            //
            // filter table - show missing coins
            //
            $("#btnShowMissing").on("click", function () {
                var rows = $("tr.checklist-coin-row");
                rows.each(function (index) {
                    var checkbox = $(this).find("input.in-collection-checkbox");
                    var isInCollection = $(checkbox).prop("checked");
                    if (isInCollection) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            });

            //
            // filter table - toggle excluded coins
            //
            $("#btnToggleExcluded").on("click", function () {
                if (_excludedShowing)
                    hideExcludedCoins();
                else
                    showExcludedCoins();                    
            });

            var _excludedShowing = false;

            function showExcludedCoins() {
                _excludedShowing = true;

                var rows = $("tr.checklist-coin-row");
                rows.each(function (index) {                    
                    $(this).show();
                });
            }

            function hideExcludedCoins() {
                _excludedShowing = false;

                var rows = $("tr.checklist-coin-row");
                rows.each(function (index) {
                    var checkbox = $(this).find("input.should-exclude-checkbox");
                    var shouldExclude = $(checkbox).prop("checked");
                    if(shouldExclude) $(this).hide();
                });
            }
        });
</script>

}
