@model PumaCoinCatalog.Web.Models.Checklist.ChecklistModel

@using PumaCoinCatalog.Web.Infrastructure

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        Checklists
        <span>&#x25BA;</span>
        @Model.Title        
        <span style="font-size: 18px;">@Model.CoinTypeDisplay</span>
    </div>
}

<style type="text/css">
    
</style>

<div class="checklist-details"> 
    <input type="hidden" id="hidChecklistId" value="@Model.Id" />
    <div class="row">
        <div class="col-md-6">
            <img src="data:image/jpg;base64,@Model.Base64Image" alt="@Model.Title" class="coin-image" />
        </div>
        <div class="col-md-4">
            <div id="checklist-info">
                @Html.Partial("_checklistInfo", Model.ChecklistInfoModel)
            </div>
        </div>      
        <div class="col-md-2">
            <div class="checklist-actions">
                <button id="btnRefreshTotals" type="button" class="btn btn-primary btn-lg btn-block">Refresh Totals</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Export</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Delete</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">                
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="coin-list table table-striped">
                    <thead>
                        <tr>
                            <th style="display:none;">Id</th>
                            <th style="display:none;">CoinId</th>                            
                            <th>Year</th>
                            <th>Variety</th>
                            <th style="text-align: center;">Collected</th>
                            <th style="text-align: center;">Grade</th>
                            <th style="text-align: center;">Est. Value</th>
                            <th style="text-align: right;">Mintage</th>
                            <th style="text-align: center;">KM #</th>
                            <th style="text-align: center;">NumisMedia</th>
                            <th style="text-align: center;">NGC</th>
                            <th style="text-align: center;">PCGS</th>                                                                                    
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var coin in Model.ChecklistCoins)
                        {
                            <tr class="checklist-coin-row">
                                <td class="checklist-coin-id" style="display:none;">@coin.Id</td>
                                <td style="display:none;">@coin.CoinModel.Id</td>
                                <td>@coin.CoinModel.Year</td>
                                <td>@coin.CoinModel.Variety</td>
                                <td style="text-align: center;">
                                    <label>
                                        <input class="checkbox in-collection-checkbox" type="checkbox" @(Convert.ToBoolean(coin.InCollection) == true ?   "checked='checked'" : string.Empty)/>
                                        <span></span>
                                    </label>
                                </td>
                                <td style="text-align: center; width: 150px;">
                                    @Html.Partial("_gradeSelectList", coin)
                                </td>
                                <td style="text-align: right; width: 100px;">                                    
                                    <input type="text" class="form-control estimated-value-textbox" value="@coin.ValueEstimate" style="text-align: right;"/>                                    
                                </td>
                                <td style="text-align: center;">
                                    @if (coin.CoinModel.Mintage == 0)
                                    { <span>-</span> }
                                    else
                                    { <span>@string.Format("{0:0,0}", coin.CoinModel.Mintage)</span> }
                                </td>
                                <td style="text-align: center;">@coin.CoinModel.KmNumber</td>
                                <td style="text-align: center;"><a href="@LinkHelper.NumisMediaLink(coin.CoinModel.NumisMediaId)" target="_blank">@coin.CoinModel.NumisMediaId</a></td>
                                <td style="text-align: center;"><a href="@LinkHelper.NgcLink(coin.CoinModel.NgcId)" target="_blank">@coin.CoinModel.NgcId</a></td>
                                <td style="text-align: center;"><a href="@LinkHelper.PcgsLink(coin.CoinModel.PcgsId)" target="_blank">@coin.CoinModel.PcgsId</a></td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/Checklist/AllChecklists');

            //
            // refresh the totals section
            //
            $("#btnRefreshTotals").on("click", function () {
                var checklistId = $("#hidChecklistId").val();

                $.ajax({
                    type: 'POST',
                    url: '/Checklist/GetChecklistTotals?checklistId=' + checklistId,
                    success: function (result) {
                        $("#checklist-info").html(result);
                    }
                });
            });

            //
            // get the checklist coin id for a cell in a row
            //
            function getChecklistCoinId(elem) {                
                var row = $(elem).closest(".checklist-coin-row");
                var trCoinId = $(row).children(".checklist-coin-id");
                var checklistCoinId = $(trCoinId).text();
                return checklistCoinId;
            }

            function addCoinToChecklist(elem) {
                var row = $(elem).closest(".checklist-coin-row");
                var checkbox = $(row).find(".in-collection-checkbox");
                $(checkbox).prop("checked", true);
            }

            //
            // add or remove coin from checklist
            //
            $(".in-collection-checkbox").change(function () {
                var checklistCoinId = getChecklistCoinId(this);
                
                if (this.checked) {
                    // set flag to true                    
                    $.ajax({
                        type: 'POST',
                        url: '/Checklist/UpdateChecklistCoinAddToChecklist?checklistCoinId=' + checklistCoinId,
                        success: function (result) {
                            //console.log('coin add successfully');
                        }
                    });
                } else {
                    var result = confirm("You sure you want to remove it from your collection?");
                    if (result == true) {
                        // set flag to false
                        $.ajax({
                            type: 'POST',
                            url: '/Checklist/UpdateChecklistCoinRemoveFromChecklist?checklistCoinId=' + checklistCoinId,
                            success: function (result) {
                                //console.log('coin removed successfully');
                            }
                        });
                    }
                    else {
                        $(this).prop("checked", true);
                    }
                }
            });

            //
            // updated grade
            //
            $(".ddl-grade").change(function () {
                var thisthis = this;
                var value = $(this).val();                
                var checklistCoinId = getChecklistCoinId(this);
                
                $.ajax({
                    type: 'POST',
                    url: '/Checklist/UpdateChecklistCoinGrade?checklistCoinId=' + checklistCoinId + '&value=' + value,
                    success: function (result) {
                        //console.log('grade updated successfully');
                        addCoinToChecklist(thisthis);
                    }
                });
            });

            $("input[type='text']").on("click", function () {
                $(this).select();
            });

            //
            // update estimated value
            //
            $(".estimated-value-textbox").blur(function () {
                var thisthis = this;
                var value = $(this).val();

                if (value == '' || value == ' ') {
                    value = 0;
                }

                if (!isNumeric(value)) {                    
                    console.log('bad number');
                    $(this).val('');
                    return;                    
                }

                var checklistCoinId = getChecklistCoinId(this);
                
                $.ajax({
                    type: 'POST',
                    url: '/Checklist/UpdateChecklistCoinEstimatedValue?checklistCoinId=' + checklistCoinId + '&value=' + value,
                    success: function (result) {
                        //console.log('estimated value updated successfully');
                        addCoinToChecklist(thisthis);
                    }
                });
            });
        });
    </script>

}
