@model PumaCoinCatalog.Web.Models.CbCoinData.CbDenominationViewModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        <a href="@Url.Action("Index", new { countryTitle = @Model.CountryTitle })">@Model.CountryTitle</a>
        <span>&#x25BA;</span>
        @Model.Title
    </div>
}

    <div class="cb-coin-denomination">
        <ul class="cb-variety-list">
            @foreach (var variety in Model.Varieties)
            {
                <li>
                    <a href="@Url.Action("Variety", new { varietyId = variety.Id})">@variety.Title</a>
                </li>
            }
        </ul>
    </div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/CbCoinData');
        });
    </script>
}