@model PumaCoinCatalog.Web.Models.CbCoinData.CbCountryViewModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        @Model.Title
    </div>
}

<style type="text/css">
    
    .cb-denomination-list .image-coin-type {
        max-height: 100px;
        display: inline-block;
    }

    .cb-denomination-list .denomination-title {
        text-align: center;
        padding: 10px 0;
        font-size: 22px;
        background-color: #C3DEA8;
    }

    .variety-summary {
        max-width: 300px;
        min-height: 122px;
        text-align: center;            
        margin-top: 10px;
    }

        .variety-summary a {
            font-size: 18px;
            text-decoration: none;
            display: block;
        }
</style>

<div class="cb-coin-country">
    <div class="row cb-denomination-list">
        @foreach (var denomination in Model.Denominations)
        {
            <div class="col-md-12">
                <div id="@denomination.Title" class="denomination-title">@denomination.Title</div>
                <div class="cb-coin-denomination">
                    <div class="row cb-variety-list">
                        @foreach (var variety in denomination.Varieties)
                        {
                        <div class="col-md-3 variety-summary">
                            @Html.Partial("_coinImage", variety.ImageViewModel)

                            <a href="@Url.Action("Variety", new { varietyId = variety.Id})">@variety.Title</a>
                            <span class="coin-date-range">(@variety.BeginDate - @variety.EndDate)</span>
                        </div>
                        }
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/CbCoinData');
        });
    </script>
}