@model PumaCoinCatalog.Web.Models.CbCoinData.CbTypeViewModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        <a href="@Url.Action("Index", new { countryTitle = @Model.CountryTitle })">@Model.CountryTitle</a>
        <span>&#x25BA;</span>
        <a href="@Url.Action("Index", new { countryTitle = @Model.CountryTitle })#@Model.DenominationTitle">@Model.DenominationTitle</a>
        <span>&#x25BA;</span>
        <a href="@Url.Action("Variety", new { varietyId = @Model.VarietyId })">@Model.VarietyTitle</a>
        <span>&#x25BA;</span>
        @Model.Title
    </div>
}

<style type="text/css">
</style>

<div class="cb-coin-type">
    @Html.HiddenFor(x => x.Id, new { id = "hidTypeId" })
    <div class="row type-actions">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="updateObverseImage()">Update Obverse Image</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="updateReverseImage()">Update Reverse Image</button>
        </div>
    </div>
    <div class="type-details">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_coinImage", Model.ImageViewModel)
                <hr />
            </div>
        </div>        
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_typeDetails", @Model)
                <hr />
            </div>
        </div>        
    </div>

    <div class="table-responsive">
        <table class="cb-coin-list table table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Details</th>
                    <th>Mintage</th>
                </tr>
            </thead>
            @foreach (var coin in Model.Coins)
            {
                <tr>
                    <td>
                        <span class="coin-id" style="visibility: hidden;">@coin.Id</span>
                        <span>@coin.Year</span><span>@coin.MintMark</span>
                    </td>
                    <td><span>@coin.Details</span></td>
                    <td>
                        @if (coin.Mintage == 0)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span>@string.Format("{0:n0}", coin.Mintage)</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            resetMenu();
            setActiveMenu('/CbCoinData');
        });

        //
        // update type obverse image
        //
        function updateObverseImage() {
            var typeId = $("#hidTypeId").val();
            var imgUri = prompt("Enter the Obverse Image Uri:", "");
            if (imgUri == '' || imgUri == ' ') return;

            $.ajax({
                type: 'POST',
                url: '/CbCoinData/ChangeTypeObverseImage?typeId=' + typeId + "&uri=" + imgUri,
                success: function (result) {
                    location.reload();
                }
            });
        };

        //
        // update type reverse image
        //
        function updateReverseImage() {
            var typeId = $("#hidTypeId").val();
            var imgUri = prompt("Enter the Reverse Image Uri:", "");
            if (imgUri == '' || imgUri == ' ') return;

            $.ajax({
                type: 'POST',
                url: '/CbCoinData/ChangeTypeReverseImage?typeId=' + typeId + "&uri=" + imgUri,
                success: function (result) {
                    location.reload();
                }
            });
        }
    </script>
}