@model System.Collections.Generic.List<PumaCoinCatalog.Web.Models.CoinData.CoinModel>

@using PumaCoinCatalog.Web.Infrastructure

<div class="table-responsive">
    <table class="coin-list table table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Variety</th>
                <th style="text-align: right;">Mintage</th>
                @*<th style="text-align: center;">KM #</th>*@
                <th style="text-align: center;">NumisMedia</th>
                <th style="text-align: center;">NGC</th>
                <th style="text-align: center;">PCGS</th>
                <th style="display:none;">Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in Model)
            {
                <tr>
                    <td>@coin.Year</td>
                    <td>@coin.Variety</td>
                    <td style="text-align: right;">
                        @if (coin.Mintage == 0)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span>@string.Format("{0:0,0}", coin.Mintage)</span>
                        }
                    </td>
                    @*<td style="text-align: center;">@coin.KmNumber</td>*@
                    <td style="text-align: center;"><a href="@LinkHelper.NumisMediaLink(coin.NumisMediaId)" target="_blank">@coin.NumisMediaId</a></td>
                    <td style="text-align: center;"><a href="@LinkHelper.NgcLink(coin.NgcId)" target="_blank">@coin.NgcId</a></td>
                    <td style="text-align: center;"><a href="@LinkHelper.PcgsLink(coin.PcgsId)" target="_blank">@coin.PcgsId</a></td>
                    <td style="display:none;">@coin.Id</td>
                </tr>
            }
        </tbody>
    </table>
</div>

