@model PumaCoinCatalog.Web.Models.CoinData.CoinTypeModel

@using PumaCoinCatalog.Web.Infrastructure

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        <a href="@Url.Action("Index", "CoinData")">@Model.CollectionTitle</a>
        <span>&#x25BA;</span>
        <a href="@Url.Action("CoinCategory", "CoinData", new { id = Model.CategoryId })">@Model.CategoryTitle</a>
        <span>&#x25BA;</span>
        @Model.Title - @Model.Details
    </div>
}

<style type="text/css">
    .coins .coin-list {
        width: 100%;
    }

        .coins .coin-list thead {            
            font-size: 18px;
        }

        .coins .coin-list tbody {
            font-size: 16px;
        }
</style>

<div class="coins">
    <div class="row">
        <div class="col-md-6">            
            <img src="data:image/jpg;base64,@Model.Base64Image" alt="@Model.Title" class="coin-image" />
        </div>
        <div class="col-md-3">
        </div>        
        <div class="col-md-3">
        </div>
    </div>
    <hr/>
    <div class="row">
        <!-- Master Coin List -->
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="coin-list table table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Variety</th>
                            <th>Mintage</th>
                            <th>KM #</th>
                            <th>NumisMedia</th>
                            <th>NGC</th>
                            <th>PCGS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var coin in Model.Coins)
                        {
                            <tr>
                                <td>@coin.Year</td>
                                <td>@coin.Variety</td>
                                <td>@coin.Mintage</td>
                                <td>@coin.KmNumber</td>
                                <td><a href="@LinkHelper.NumisMediaLink(coin.NumisMediaId)" target="_blank">@coin.NumisMediaId</a></td>
                                <td><a href="@LinkHelper.NgcLink(coin.NgcId)" target="_blank">@coin.NgcId</a></td>
                                <td><a href="@LinkHelper.PcgsLink(coin.PcgsId)" target="_blank">@coin.PcgsId</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- My Coin List -->
        <div class="col-md-6"></div>
    </div>
</div>

