@model PumaCoinCatalog.Web.Models.CoinData.CoinTypeModel

@{
    ViewBag.Title = Model.Title;
}

@section pageHeader {
    <div class="coin-breadcrumb">
        <a href="@Url.Action("Index", "CoinData")">@Model.CollectionTitle</a>
        <span>&#x25BA;</span>
        <a href="@Url.Action("CoinCategory", "CoinData", new { id = Model.CategoryId })">@Model.CategoryTitle</a>
        <span>&#x25BA;</span>
        @Model.Title - @Model.Details
    </div>
}

<div class="coins">
    <div class="row">
        <div class="col-md-6">            
            <img src="data:image/jpg;base64,@Model.Base64Image" alt="@Model.Title" class="coin-image" />
        </div>
        <div class="col-md-3">
        </div>        
        <div class="col-md-3">
        </div>
    </div>
    <hr/>
    <div class="row">
        <!-- Master Coin List -->
        <div class="col-md-6">
            @Html.Partial("_coinListing", Model.Coins)
        </div>
        <!-- My Coin List -->
        <div class="col-md-6"></div>
    </div>
</div>

